html {
    font-size: 15px;
}

body {
       font-family: "Arial", serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding: 0 4rem;

    background: rgb(0,208,188);
    background: linear-gradient(270deg, rgba(0,208,188,1) 0%, rgba(141,255,248,1) 100%);

    display: flex;
    justify-content: space-around;
}

.col {
    align-items: center;
    display: flex;
    justify-content: space-between;

    color: #fff;
}

.icon {
    color: #fff;
}

.svg{
    width: 3rem;
    height: 3rem;
    display: block;
}

.info {
    padding-left: 2rem;
}

.number {
    color: #fff;
    font-size: 1.4rem;
    padding-bottom: .5rem;
}

.text {
    color: #fff;
    text-transform: uppercase;
}














